body{
    background-color: #171717;
    font-family: 'Gilam';
font-style: normal;
    width:1920px;
    margin:0 auto;

}
.background{
        background-image: url(img/header-bg.jpeg);
    background-attachment:fixed;
    background-size:100%
}
.background2{
    background-image:url(img/parallax-bg.jpeg);
    background-attachment: fixed;
    background-size:100%;
}
/* header */
.heaclear{
    text-decoration: none;
}
.img{
    width: 216px;
height: 33px;
}
.row{
    padding:0px 230px;
    display: flex;
    flex-direction: row;
    padding-top:50px;
    margin:0 auto;
    align-items: center;
    justify-content: space-between;
    padding-bottom:128px;

}
.space{
    margin-right:10px;
    font-family: 'Circe';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 29px;
color: #FFFFFF;
}
.button{
    background-color: rgb(23, 23, 23, 0);
    color: #D6AF76;
    border-color: #D6AF76;
    box-shadow:3px 3px 3px #D6AF76;
}
.butt{
    font-family: 'Circe';
font-weight: 400;
font-size: 18px;
line-height: 30px;
color:#E4B564;
}
.img2{
    padding-left:19px;
    padding-right:10px;
}
/* main */
.firstmain{
    padding:0 230px;
    color:#FFFFFF;
}
.h1{
    font-family: 'Gilam';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 28px;
margin:0;
padding-bottom:41px;
}
.par{
    max-width: 1000px;
    font-family: 'Gilam';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
padding-bottom:41px;
}
.grid1{
    display:grid;
    grid-template-columns:2fr 1fr 1fr 2fr;
    grid-template-rows: 467px 467px;
    gap: 30px;
    text-align: center;
    grid-template-areas:"item1 item2 item2 item3"
                        "item4 item4 item5 item5";
}
.item1{
    grid-column:1/2;
    background-color: #634F2C;
    font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
display: flex;
  justify-content: center;
  flex-direction: column;
}
.item2{
    grid-column:2/4;
    background-color: #B4A385;
    font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
display: flex;
  justify-content: center;
  flex-direction: column;
}
.item3{
    grid-column:4/5;
    background-color: #E4B564;
    font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
display: flex;
  justify-content: center;
  flex-direction: column;
}
.item4{
    grid-column:1/3;
    background-color: #635A4A;
    font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
display: flex;
  justify-content: center;
  flex-direction: column;
}
.item5{
    grid-column:3/5;
    background-color: #B08C4D;
    font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
display: flex;
  justify-content: center;
  flex-direction: column;
}
/* second main */
.secondmain{
    padding:230px 160px 190px 230px;
}
.mainh2{
    margin:0 auto;
    font-weight: 700;
font-size: 50px;
color: #FFFFFF;
margin-bottom:94px;
}
.blockconfig{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.columnblock1{
    display: flex;
    flex-direction: column;
}
.columnblock2{
    display: flex;
    flex-direction: column;
}
.columnblock3{
    display: flex;
    flex-direction: column;
}
.spanblock2{
    padding-top:30px;
    padding-left:50px;
    font-weight: 500;
font-size: 20px;
line-height: 25px;

color: #FFFFFF;
}
.spanblock3{
    padding-top:30px;
    padding-left:50px;
    font-weight: 700;
font-size: 20px;
line-height: 25px;

color: #FFFFFF;
}
.spanblock4{
    padding-top:30px;
    padding-left:50px;
    font-weight: 500;
font-size: 20px;
line-height: 25px;
color:black;
}
.block1{
    background: #0E0E0E;
    width: 467px;
    height: 313px;
    margin-bottom:24px;
}
.block2{
    background: #1F1F1F;
    width: 467px;
    height: 560px;
}
.block3{
    background:#242424;
    width: 467px;
    height: 439px;
    margin-bottom:33px;
}
.block4{
    background: #E4B564;
    width: 467px;
    height: 405px;    
}
.block5{
    background: #1F1F1F;
    width: 467px;
    height: 255px;
    margin-bottom:26px;
}
.block6{
    background: #0E0E0E;
    width: 467px;
    height: 313px;
    margin-bottom:26px;
}
.block7{
    background: #0A0909;
    width: 467px;
    height: 277px;
}
/* footer */
.footer{
    padding:230px 178px 0px 230px;
}
.fooline{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom:72px
}
.fooh2{
    color:#FFFFFF;
    font-weight: 700;
    font-size: 50px;
}
.foobutt{
    color:#E4B564;
    padding:10px 40px;
    background-color:rgb(14, 14, 14, 0);
    border-color:#E4B564;
    box-shadow:3px 3px 3px #D6AF76;
}
.foogrid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 391px 391px;
}
.fooitem{
    margin:0 auto;
    
}
.fooinfo{
    display:none;
}
.foobackitem1{
    background: rgb(99, 79, 44, 0.90);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.5s ease;
}
.foobackitem1:hover .fooinfo{
    display:block;
    margin:0 auto;
    text-align: center;
    color: #FFFFFF;
    font-size:22px;
    line-height: 28px;
    font-weight: 600;
}
.foobackitem1:hover{
    transition-duration: 0.5s;
    background: rgb(99, 79, 44, 0.70);
}
.foobackitem2{
    background: rgb(232, 210, 171, 0.90);
    display:flex;
    flex-direction: column;
    justify-content:center;
    transition: all 0.5s ease;
}
.foobackitem2:hover{
    transition-duration: 0.5s;
    background: rgb(232, 210, 171, 0.70);
}
.foobackitem2:hover .fooinfo{
    display:block;
    margin:0 auto;
    text-align: center;
    color: #FFFFFF;
    font-size:22px;
    line-height: 28px;
    font-weight: 600;
}
.foobackitem3{
    background-color: rgb(228, 181, 100, 0.90);
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all 0.5s ease;
}
.foobackitem3:hover .fooinfo{
    display:block;
    margin:0 auto;
    text-align: center;
    color: #FFFFFF;
    font-size:22px;
    line-height: 28px;
    font-weight: 600;
}
.foobackitem3:hover{
    transition-duration: 0.5s;
    background-color: rgb(228, 181, 100, 0.70);
}
.foobackitem4{
    background: rgb(99, 90, 74, 0.90);
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all 0.5s ease;
}
.foobackitem4:hover .fooinfo{
    display:block;
    margin:0 auto;
    text-align: center;
    color: #FFFFFF;
    font-size:22px;
    line-height: 28px;
    font-weight: 600;
}
.foobackitem4:hover{
    transition-duration: 0.5s;
    background: rgb(99, 90, 74, 0.70);
}
.foobackitem5{
    background: rgb(176, 140, 77, 0.90);
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all 0.5s ease;
}
.foobackitem5:hover .fooinfo{
    display:block;
    margin:0 auto;
    text-align: center;
    color: #FFFFFF;
    font-size:22px;
    line-height: 28px;
    font-weight: 600;
}
.foobackitem5:hover{
    transition-duration: 0.5s;
    background: rgb(176, 140, 77, 0.70);
}
.foobackitem6{
    background: rgb(99, 79, 44, 0.90);
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all 0.5s ease;
}
.foobackitem6:hover .fooinfo{
    display:block;
    margin:0 auto;
    text-align: center;
    color: #FFFFFF;
    font-size:22px;
    line-height: 28px;
    font-weight: 600;
}
.foobackitem6:hover{
    transition-duration: 0.5s;
    background: rgb(99, 79, 44, 0.70);
}